<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
  </head>
  <body>
    <div>
      <a href="/logout/">Log Out</a>
      <a href="/admin/addProduct/">Add Product</a>
    </div>

    <h1>Eleven Bottles</h1>
    <table border="2">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Product Details</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Action</th>
      </tr>
      <% products.forEach(el => { %>
      <tr>
        <td><%= el.name %></td>
        <td><%= el.Category.name %></td>
        <td><%= el.ProductDetail.description %></td>
        <td><%= el.formatPrice() %></td>
        <td><%= el.stock %></td>
        <td>
          <% if(+el.stock === 0) { %>
          <a href="/admin/deleteProduct/<%= el.id %>">Delete Product</a><br />
          <% } %>
          <a href="/admin/editProduct/<%= el.id %>">Edit Product</a><br />
        </td>
      </tr>
      <% }) %>
    </table>
    <br /><br />

    <table border="2">
      <tr>
        <th>User Id</th>
        <th>Order Number</th>
        <th>Shipping Address</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Order Date</th>
        <th>Action</th>
      </tr>
      <% ordersUsersProducts.forEach(el => { %> <% if (el.status === 'pending')
      { %>
      <tr>
        <td><%= el.User.id %></td>
        <td><%= el.id %></td>
        <td><%= el.shippingAddress %></td>
        <td><%= el.Product.name %></td>
        <td><%= el.quantity %></td>
        <td><%= el.formatTotalPrice() %></td>
        <td><%= el.status %></td>
        <td><%= formatDate(el.orderDate) %></td>
        <td>
          <a href="/admin/approve/<%= el.id %>">approve</a>
          <a href="/admin/reject/<%= el.id %>">reject</a>
        </td>
      </tr>
      <% } %> <% }) %>
    </table>
  </body>
</html>
