<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EditProduct</title>
  </head>
  <body>
    <div>
      <a href="/">HomePage</a>
      <a href="/admin">Admin</a>
    </div>

    <div>
      <h1>Edit Product</h1>
    </div>

    <form action="/admin/editProduct/<%= product.id %>" method="post">
      <label>Name</label><br />
      <input type="text" name="name" value="<%= product.name %>"/><br /><br />

      <label>Stock</label><br />
      <input type="number" name="stock" value="<%= product.stock %>"/><br /><br />

      <label>Price</label><br />
      <input type="number" name="price" value="<%= product.price %>"/><br /><br />

      <label>ProductDetail</label><br />
      <textarea name="description" rows="4" cols="50"><%= product.ProductDetail.description %></textarea><br /><br />

      <label>Category</label><br />
      <select name="CategoryId">
        <option value="" disabled>Select One</option>
        <option value="1" <%= product.CategoryId === 1 ? "selected" : "" %>>Red</option>
        <option value="2" <%= product.CategoryId === 2 ? "selected" : "" %>>White</option>
        <option value="3" <%= product.CategoryId === 3 ? "selected" : "" %>>Rose</option></select
      ><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
